.items ul {
    padding: 0px;
    list-style: none;
}
.items ul li  {
    padding: 0.3em;
    font-size: 1em;
    color: black;
    border-top: 1px solid #e1e4e8;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(225, 228, 232);

}
.items{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.body{
    border-left:  1px solid #e1e4e8;
    border-right:  1px solid #e1e4e8;

}
@media screen and (max-width: 600px) {
    .items {
        width: 100%
    }
}
